<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filtrar:</div>
      <div class="col-md-4">
        <input [(ngModel)]="listFilter" type="text" name="" id="" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Filtro: {{ listFilter }}</h4>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table" *ngIf="products && products.length">
      <thead>
        <tr>
          <th>
            <button (click)="toggleImage()" class="btn btn-primary">
              {{ showImage ? "Ocultar" : "Mostrar" }} Imagen
            </button>
          </th>
          <th>Producto</th>
          <th>Código</th>
          <th>Disponible</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Puntuación</th>
        </tr>
        <tr *ngFor="let product of products">
          <td>
            <img
              *ngIf="showImage"
              [src]="product.imageUrl"
              [title]="product.productName | uppercase"
              [style.width.px]="imageWidth"
              [style.margin.px]="imageMargin"
            />
          </td>
          <td>{{ product.productName }}</td>
          <td>{{ product.productCode | lowercase }}</td>
          <td>{{ product.releaseDate }}</td>
          <td>{{ product.description }}</td>
          <td>
            {{ product.price | currency:'ARS':'symbol' | uppercase }}
          </td>
          <td>{{ product.starRating }}</td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
